// --- Objects ---
// Class-based selectors which define undecorated design patterns, for example media object known from OOCSS
@import '../../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap';

.app {
  height: 100%;
}

.main-container {
  padding-top: 75px;
}


// Orders
.order-price-container {
  margin: 10px 0 20px;
  padding: 10px;
  background: #efefef;
}
